<div class="row">
    <div class="col-md-8">
        <h3>Posts List</h3>
        <a href="#" class="btn btn-primary" [routerLink]="['./add']">Add Post</a>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            <tr *ngFor="let post of posts | async">
                <td>{{post.id}}</td>
                <td>{{post.title}}</td>
                <td>{{post.description}}</td>
                <!-- <a href="#" class="btn btn-success" [routerLink]="['./edit',post.id]">Update</a> -->
                <td><a href="#" class="btn btn-success" [routerLink]="['./edit', post.id]">Update</a></td>
                <td><button class="bnt btn-danger" (click)="deletePost(post.id)">Delete Post</button></td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>